<%= form_with(model: genre, local: true, class: 'mt-4') do |form| %>
  <% if genre.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h4>

      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
