<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Movie Catalog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-secondary' %></li>
          <li><%= link_to 'Filmes', movies_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Diretores', directors_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Gêneros', genres_path, class: 'nav-link px-2 text-white' %></li>
        </ul>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
